.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: yellow;
    margin: 0 auto;
    padding-bottom: 20px;
}

h1{
    font-size:4.5em;
    color: blueviolet;
    text-align: center;
    /* margin: 0;  */
}

h3{
    margin:0;
}

.ceo{
    margin-top:0;
    display:flex;
    /* justify-content:space-evenly; */
    width:134px;
    text-align: center; 
    /* background:'purple'; */
    margin:auto;
}
.summary{
    width: 415px;
    display: flex;
    margin: auto;
    text-align: left;
}

.elon{
    display: block;
    width: 200px;
    margin: 0 auto  ;}